name: Crypto Standalone
on:
    push:
        paths:
            - crypto-standalone/*
            - .github/workflows/crypto-standalone.yml
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun install
        working-directory: crypto-standalone
      - run: bun run build
        working-directory: crypto-standalone
      - run: docker buildx build . -t crypto-standalone:local
        working-directory: crypto-standalone
